@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: hsl(0, 0%, 90%);
}

#top-bar {
    background-color: hsl(235, 20%, 40%);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-title {
    font-size: 26px;
    color: hsl(0, 0%, 95%);
}

#add-book-button {
    background-color: hsl(210, 50%, 60%);
    color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 3px 3px hsla(0, 0%, 30%, 0.2);
}

button {
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    cursor: pointer;
}

#library-container {
    margin: 40px 20px;
    gap: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
}

.book-container {
    background-color: hsl(0, 0%, 95%);
    padding: 35px 25px;
    border-radius: 25px;
    width: 320px;
    min-height: 340px;
    max-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 3px hsla(0, 0%, 30%, 0.2);
}

.book-title {
    font-size: 26px;
    padding: 0 10px;
    text-align: center;
    min-height: 80px;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-info {
    margin: 10px 0px 20px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    color: hsl(0, 0%, 55%);
}

.book-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.book-btn {
    font-size: 14px;
    color: hsl(0, 0%, 95%);
    border-radius: 15px;
    border: none;
    padding: 15px;
    width: 60%;
}

.book-btn img {
    width: 24px;
}

.book-btn.not-read, .book-btn.read, .book-btn.submit {
    background-color: hsl(210, 50%, 60%);
}

.book-btn.delete, .book-btn.discard {
    background-color: hsl(4, 75%, 60%);
}

.book-btn.delete {
    width: 20%;
    padding: 10px;
    padding-right: 7px;
}

.modal .book-btn.discard, .modal .book-btn.submit {
    margin: 0 auto;
    margin-top: 10px;
}

@media (min-width: 700px) {
    #library-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1100px) {
    #library-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1500px) {
    #library-container { grid-template-columns: repeat(4, 1fr); }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: hsl(0, 0%, 95%);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#add-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
}

#add-book-form input {
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    margin: 10px 0 20px;
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.read-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.read-checkbox label {
    margin: 0px;
}

